.btn-outline {
    border: solid 2px $button-border-color
    color: $button-text-color;
    display inline-block
    font-family $font-oswald;
    border-radius: 0;
    text-transform: uppercase;

    &:hover {
        color: $button-text-color;
    }
}
