.ambients__filter {
    background: url('/img/dots-background.png') repeat-x center center;
    height 135px
    padding-top 30px

    @media (min-width: $screen-sm-min) {
        padding-top 60px
    }
}

.ambients__content {
    margin-top 26px
}

.ambients__title {
    margin-bottom: 30px
    padding: 0 25px;
    position: relative;
    z-index: 1

    @media (min-width: $screen-md-min) {
        left: 40px
    }

    h2 {
        color: $brand-primary;
        font-family: $font-oswald;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
    }

    span {
        background-color: $brand-primary;
        display: block;
        height: 149px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 3px;
    }

    p {
        max-width: 705px;
    }
}

.ambients__title--collection {
    left 0
    padding 0

    p {
        max-width: none;
    }
}

.ambients__gallery {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
        grid-template-columns: 1fr 1fr;
        max-width: 640px;
    }

    @media (min-width: $screen-md-min) {
        grid-template-columns: 1fr 1fr 1fr;
        margin: inherit;
        max-width: 960px;
    }

    .hover-effect {
        width 299px
    }

    .bg {
        img {
            object-fit: cover;
            width: 100%
        }
    }

    .bg:hover {
        background-color: rgba(0,0,0,0.67);
        background-image: url('/img/icon-lupa.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.ambients__buttons {
    margin-top: 30px
    max-width: 960px;

    .btn {
        padding: 2px 12px;
    }
}

.ambients__collection {
    margin-top: 40px
}

.ambients__collection-image {
    position: relative
    max-width: 940px;

    span {
        background-color: $bg-img-firula;
        height: 385px
        left 0;
        max-width: 770px;
        position: absolute
        top 0;
        width: 100%
        z-index: -1;
    }

    img {
        @media (min-width: $screen-md-min) {
            padding: 30px
        }
    }
}

.ambients__collection-title {
    position: absolute;
    right: -1px
    top: 2%;

    @media (min-width: $screen-sm-min) {
        top: 37%
    }

    @media (min-width: $screen-md-min) {
        right: 29px
    }

    h2 {
        background-color: #fff;
        color: $brand-secondary;
        font-family: $font-oswald;
        font-weight: 300;
        font-size: 27px;
        padding: 16px 19px;
        width: 280px;

        @media (min-width: $screen-md-min) {
            width: 380px;
        }
    }
}

.ambients__player {
    background: url('/img/bg-player.png') no-repeat center center;
    height 453px
    margin 0 auto 60px;
    // margin-top 20px
    // margin-bottom 60px
    max-width: 708px;
    padding-top: 60px;
}

.ambients__player > div {
    height 363px
    margin: 0px 0 0 40px;
}
