.navbar {
    z-index: 1;
}

.navbar-brand {
    padding-top: 24px
    img {
        max-width: 134px;
    }
}

.navbar-nav > li > a {
    // color: #fff;
    font-family: $font-oswald;
    font-weight: 200;
    text-transform: uppercase;
    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 20px;
    }
}
