.page-produtos-diferenciais {
    footer {
        margin 0
    }
}

.products {
    @media (min-width: $screen-md-min) {
        padding-bottom: 69px;
    }
}

.products__ambiente {
    margin-top: 34px;

    @media (min-width: $screen-md-min) {
        margin-top: 0;
    }
}

.products__diferenciais {
    margin-top: 0;

    @media (min-width: $screen-md-min) {
        margin-top: 280px;
    }
}

.products__acabamentos {
    margin-top: 0;

    @media (min-width: $screen-md-min) {
        margin-top: 40px;
    }
}

.products__colecoes {
    margin-top: 0;

    @media (min-width: $screen-md-min) {
        margin-top: 470px;
    }
}

.products__image {
    background-color: $bg-img-firula;
    position: relative
    float: left;

    img {
        position: relative;
    }

    &.products__image--ambiente {

        @media (min-width: $screen-md-min) {
            height: 391px
            top: -40px
            left: -25px;

            img,
            .hover-effect .bg {
                left: 25px;
                top: -30px;
            }
        }
    }

    &.products__image--diferenciais {

        @media (min-width: $screen-md-min) {
            height: 391px
            top: -40px
            left: -25px;

            img,
            .hover-effect .bg {
                left: 25px;
                top: -30px;
            }
        }
    }

    &.products__image--acabamentos,
    &.products__image--colecoes {

        @media (min-width: $screen-md-min) {
            height: 268px
            top: 0px
            float: right;

            img,
            .hover-effect .bg {
                left: 25px;
                top: -30px;
            }

            h2 {
                background-color: #fff;
                color: $brand-secondary;
                font-family: $font-oswald;
                font-size: 30px;
                font-weight: 300;
                padding: 12px
                position: absolute
                text-align: center
                text-transform: uppercase;
                width: 260px
                z-index: 1
            }
        }

        @media (min-width: $screen-lg-min) {
            float: left;
        }
    }

    &.products__image--colecoes {
        @media (min-width: $screen-md-min) {
            height: 190px
        }
    }
}

.products__content {

    &.products__content--ambiente,
    &.products__content--diferenciais,
    &.products__content--acabamentos,
    &.products__content--colecoes {
        float: left;
    }

    @media (min-width: $screen-md-min) {

        &.products__content--ambiente {
            position: absolute;
            top: 340px;
            left: 35px;
            width: 25%;
            float: none;

            h2, p {
                padding: 0 0 0 25px;
            }
        }

        &.products__content--diferenciais {
            position: absolute;
            top: 340px;
            left: 35px;
            float: none;

            h2, p {
                padding: 0 0 0 25px;
            }
        }

        &.products__content--acabamentos,
        &.products__content--colecoes {
            max-width: 500px;
            float: right;
            margin-top: 22px
            position: relative

            p {
                text-align: right;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        &.products__content--acabamentos,
        &.products__content--colecoes {
            float: left;
        }
    }
}

.products__title {

    h2 {
        color: $brand-secondary;
        font-family: $font-oswald;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px
        margin-top: 34px
        text-transform: uppercase;
    }

    span {
        background-color: $brand-secondary;
        display: block;
        position: absolute;
        width: 3px;
    }

    &.products__title--ambiente {
        span {
            left: 0;
            top: -30px;
            height: 253px;
        }
    }

    &.products__title--diferenciais {
        span {
            left: 0;
            top: -70px;
            height: 253px;
        }
    }

    &.products__title--acabamentos,
    &.products__title--colecoes {
        span {
            top: -115px;
            height: 173px;
            right: -13px;
            @media (min-width: $screen-lg-min) {
                right: -55px;
            }
        }
    }
}

.differential {
    position: relative
    margin-top: 60px
}

.differential__content {

    @media (min-width: $screen-md-min) {
        position: absolute
        top: 0

        span {
            border: solid 3px $brand-secondary;
            display: block;
            height 134px
            left: -510px
            width: 816px;
            position: absolute
            top: 40%
            z-index: -1
        }

        p {
            background-color: $bg-img-firula;
            margin-left: -490px;
            margin-top: 140px;
            padding: 40px 80px;
            width: 620px;
        }
    }
}

.differential__image {

    @media (max-width: $screen-sm-min) {
        margin: 30px auto 20px;
    }
}

.differential__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;

    @media (min-width: $screen-sm-min) {
        height: 250px;
    }

    .differential__center {
        max-width: 400px
    }

    h3 {
        color: $brand-primary;
        font-size: 18px;
        font-family: $font-oswald;
        font-weight: 400;
    }
}

.microban {
    background: $brand-secondary url('/img/dots-background-red.png') no-repeat center center;
    min-height: 348px;
    padding: 64px 0 40px;

    p {
        color: #fff;
        margin-top 37px
    }
}

.microban__title {
    h2, h3 {
        color: #fff;
        font-family: $font-oswald;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        margin 0
    }

    h2 {
        font-size: 30px;
        margin-bottom 10px;
    }

    h3 {
        font-size: 18px;
        margin-bottom 10px
    }

    span {
        border-bottom: solid 3px #c4a480;
        width: 128px;
        display: block;
    }
}

.microban__list {
    list-style: none;
    padding 0
    width: 80%;
    margin-top 20px

    @media (min-width: $screen-md-min) {
        margin-top 0
    }

    li {
        background: url('/img/seta-direita-black.png') no-repeat 0 4px;
        margin-bottom 20px
        padding-left 15px
    }

    p {
        margin 0
    }
}

.acabamentos {
    margin-top 60px;
}

.acabamentos__content {
    form {
        margin-top 50px

        .form-control {
            height: auto;
            padding: 2.5px 12px;
            border-color: $select-border-color;
            box-shadow: none;

            &::placeholder {
                color: #737373;
            }
        }

        // .select {
        //     background: url(/img/select-arrow2.png) no-repeat right;
        //     border-right: 0;
        //     height: 27px
        //     max-width: none;
        //
        //     select {
        //         color: #737373;
        //         padding: 5px 10px;
        //     }
        // }

        .btn {
            margin: 10px 15px 0 15px
            padding: 3px 12px;
        }
    }
}

.acabamentos__image {
    margin 30px auto 0;
    max-width: 380px;

    @media (min-width: $screen-md-min) {
        background-color: $bg-img-firula;
        max-width: 443px;
    }

    img {
        width 100%
        @media (min-width: $screen-md-min) {
            position relative
            padding 0 30px
            margin-top -30px
            width auto
        }
    }
}

.collections {
    margin-top 30px
}

.collections__title {
    // margin-bottom: 30px
    padding: 0 25px;
    position: relative;
    z-index: 1

    @media (min-width: $screen-md-min) {
        left: 40px
    }

    h2 {
        color: $brand-primary;
        font-family: $font-oswald;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
    }

    span {
        background-color: $brand-primary;
        display: block;
        height: 3px;
        left: -50px;
        position: absolute;
        // top: 10px;
        width: 149px;
    }

    p {
        max-width: 705px;
    }
}

.collections__items {
    max-width: 990px;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $screen-md-min) {
        grid-template-columns: 1fr 1fr;
    }
}

.collections__image {
    position relative
    max-width: 400px;
    margin 30px auto 30px

    @media (min-width: $screen-md-min) {
        margin 30px 0 50px 0
    }

    a {
        max-width: 399px;

        .bg {
            background-color: rgba(0,0,0,0.67);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    h2 {
        color: $brand-primary;
        font-size: 18px;
        font-family: $font-oswald;
        font-weight: normal;
        letter-spacing: 0.9px;
        margin 10px 0 0
        text-transform: uppercase;
        text-align: right;

        span {
            color: $brand-secondary;
        }
    }

    .bg-firula {
        background-color: $bg-img-firula;
        width: 414px;
        height: 178px;
        position absolute
        top 50px
        left 30px
        z-index -1
    }
}
