.top {
    background: url('/img/bg-top-interna.png') no-repeat center center;
    height: 180px
    padding-top: 50px
    background-size: cover;

    @media (min-width: $screen-sm-min) {
        height: 260px
        margin-top: -90px
        padding-top: 130px
    }

    @media (min-width: $screen-md-min) {
        height: 360px
        padding-top: 160px
    }

    h2 {
        color: $brand-primary
        font-family: $font-oswald;
        font-size: 49px;
        font-weight: 200;
        margin: 0;
        text-transform: uppercase;

        @media (min-width: $screen-md-min) {
            font-size: 69px;
        }
    }

    .breadcrumb {
        padding-left: 0
        padding-right: 0
        text-transform: uppercase
        font-size: 12px;
    }
    .breadcrumb > li,
    .breadcrumb > li + li:before {
        color: #fff;
    }
}

.top__bottom {
    color: #fff;
    font-family: $font-oswald;
    font-size: 27px;
    font-weight: 200;
    position relative

    span.txt {
        padding-top 20px
        position relative
        z-index 1
        top 25px;
    }

    span.bg {
        background-color: rgba(0, 0, 0, 0.67);
        display block
        height 73px
        max-width: 65%;
        position relative
        top -22px
    }
}
