//Typography
$font-family-sans-serif             = 'Raleway', sans-serif;
$font-oswald                        = 'Oswald', sans-serif;

//Navbar
$navbar-height                      = 90px
$navbar-margin-bottom               = 0
$navbar-border-radius               = 0
$navbar-inverse-bg                  = rgba(0, 0, 0, 0.50)
$navbar-inverse-border              = transparent
$navbar-inverse-link-color          = #fff
$navbar-inverse-link-hover-color    = #c4a480
$navbar-inverse-toggle-border-color = transparent
$navbar-inverse-toggle-hover-bg     = transparent

//Colors
$text-color                         = #161515;
$brand-primary                      = #c4a480;
$brand-secondary                    = #841d2b;
$button-border-color                = #c4a480;
$button-text-color                  = #c4a480;
$carousel-title-color               = #c4a480;
$bg-img-firula                      = #e9e9e9;
$footer-bg-color                    = #252525;

//Breadcrumb
$breadcrumb-bg                      = transparent
$breadcrumb-separator               = "|"

//Form
$select-border-color                = #acacac;
$input-bg                           = transparent
$input-border-radius                = 0
// $input-color-placeholder         = #fff
